body{
    background-color:#d0e8f2;
}
.headerh1{
    font-size: 2rem;
    color: black;

    float: left;
    text-align: left;
    width: 67%;
}

header nav ul li   {
    list-style: none;
    display: inline-block;
    margin: 0px 18px 0px 14px;
  
}


header nav ul    {
    padding: 24px 0px 33px 0px;
    /* text-align: center; */
    /* float: right; */
    background-color: rgba(10, 10, 10,0.5);
   }

   header nav ul  li a   {
    background-color: #5b5f65;
    color: black;
    text-decoration: none;
    border-radius: 14%;
    margin-right: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
         }

   header nav ul  li a:hover  {
  cursor: pointer;
       }

/* p{
    color:cornsilk;
    text-align: center;
    padding-top:50px;
    height:75px;
    font-size: x-large;
    border-style: dashed;
} */

ul{
    list-style:inside;
}

.about,h1{
    font-size: x-large ;
    color:slateblue;
    margin-bottom:20px;
    margin-top:20px;
    border:1px saddlebrown;
}
header img{
    position:absolute;
    left:25px;
    width:50px;
}
.myinfo{
 padding: 20px;
 background-color:#c7753d;

}
.tenfav{
    background-color:#d0e8f2;
    padding: 20px;
    counter-reset:initial;
    line-height: 10mm ;
    
}
ol{
    list-style-type:upper-roman;
}
.intro{

    font-size: x-large;
    text-align: center;

    float: right;
    background-color: #433d3c;
    width: 50%;
    height: 100%;
    border-radius: 2;
    border: 2px solid black;
    margin-bottom: 10px;
    box-shadow: 5px 10px 8px 10px #888888;

    margin-top: 7%;
}
footer{
    background-color:#6f9eaf;
    text-align: center;
}