body{
    background-color: coral;
}

h1{
    font-size:larger;
    color:blue;
    background-color:black;

}
p{
    color:blueviolet;
    background-color: black;
}
/* ol{
    list-style:decimal;
} */
ul{
    list-style:inside;
}